<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页尾 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container">
      <div class="product-img">
        <img src="/public/imgs/product.jpg" alt="">
      </div>
      <div class="bg-img">
        <img src="/public/imgs/product-bg.png" alt="">
      </div>
    </section>
    <section class="ps">---------------------购买解锁内容--------------------</section>
    <main class="main-container">
      <div class="title-module">
        <h1 class="title">貂蝉</h1>
        <div class="num">DC#kTLpLm#3000</div>
      </div>
      <ul class="info-list">
        <li class="info-item">
          <div class="title">藏品hash</div>
          <div class="content">I2C5CxHlgMlg0Vml5QlJSt55XCft4yCJ7</div>
        </li>
        <li class="info-item">
          <div class="title">收藏者</div>
          <div class="content">138****5207</div>
        </li>
        <li class="info-item">
          <div class="title">创作者</div>
          <div class="content">源艺</div>
        </li>
        <li class="info-item">
          <div class="title">收藏时间</div>
          <div class="content">2022-04-26 16:49:01</div>
        </li>
      </ul>
    </main>
    <div class="tag">转赠</div>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>