<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页尾 -->
  <%= require("html-loader!../common/header/index.html") %>
  <section class="banner-swiper swiper-container">
    <ul class="banner-list swiper-wrapper">
      <li class="banner-item swiper-slide">
        <img src="/public/imgs/banner.jpg" alt="">
      </li>
      <li class="banner-item swiper-slide">
        <img src="/public/imgs/banner.jpg" alt="">
      </li>
    </ul>
  </section>
  <section class="product-container">
    <ul class="product-list">
      <li class="product-item">
        <a href="product.html">
          <div class="img">
            <img src="/public/imgs/product.jpg" alt="">
            <div class="tag">已售完</div>
          </div>
          <div class="text">
            <div class="left-layout">
              <div class="title">金蝉</div>
              <div class="user">
                <div class="avatar">
                  <img src="/public/imgs/user.png" alt="">
                </div>
                <div class="username">源艺</div>
              </div>
            </div>
            <div class="right-layout">
              <div class="num">限量：999份</div>
              <div class="price">￥99.00</div>
            </div>
          </div>
        </a>
      </li>
      <li class="product-item">
        <a href="product.html">
          <div class="img">
            <img src="/public/imgs/product.jpg" alt="">
            <div class="tag">已售完</div>
          </div>
          <div class="text">
            <div class="left-layout">
              <div class="title">金蝉</div>
              <div class="user">
                <div class="avatar">
                  <img src="/public/imgs/user.png" alt="">
                </div>
                <div class="username">源艺</div>
              </div>
            </div>
            <div class="right-layout">
              <div class="num">限量：999份</div>
              <div class="price">￥99.00</div>
            </div>
          </div>
        </a>
      </li>
      <li class="product-item">
        <a href="product.html">
          <div class="img">
            <img src="/public/imgs/product.jpg" alt="">
            <div class="tag">已售完</div>
          </div>
          <div class="text">
            <div class="left-layout">
              <div class="title">金蝉</div>
              <div class="user">
                <div class="avatar">
                  <img src="/public/imgs/user.png" alt="">
                </div>
                <div class="username">源艺</div>
              </div>
            </div>
            <div class="right-layout">
              <div class="num">限量：999份</div>
              <div class="price">￥99.00</div>
            </div>
          </div>
        </a>
      </li>
      <li class="product-item">
        <a href="product.html">
          <div class="img">
            <img src="/public/imgs/product.jpg" alt="">
            <div class="tag">已售完</div>
          </div>
          <div class="text">
            <div class="left-layout">
              <div class="title">金蝉</div>
              <div class="user">
                <div class="avatar">
                  <img src="/public/imgs/user.png" alt="">
                </div>
                <div class="username">源艺</div>
              </div>
            </div>
            <div class="right-layout">
              <div class="num">限量：999份</div>
              <div class="price">￥99.00</div>
            </div>
          </div>
        </a>
      </li>
      <li class="product-item">
        <a href="product.html">
          <div class="img">
            <img src="/public/imgs/product.jpg" alt="">
            <div class="tag">已售完</div>
          </div>
          <div class="text">
            <div class="left-layout">
              <div class="title">金蝉</div>
              <div class="user">
                <div class="avatar">
                  <img src="/public/imgs/user.png" alt="">
                </div>
                <div class="username">源艺</div>
              </div>
            </div>
            <div class="right-layout">
              <div class="num">限量：999份</div>
              <div class="price">￥99.00</div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </section>
  <!-- 引入公共页尾 -->
  <%= require("html-loader!../common/footer/index.html") %>
  <%= require("html-loader!../common/toast/index.html") %>
</body>

</html>