@font-face {
  font-family: "iconfont"; /* Project id 3369578 */
  src: url('/public/fonts/iconfont.woff2?t=1652769962228') format('woff2'),
       url('/public/fonts/iconfont.woff?t=1652769962228') format('woff'),
       url('/public/fonts/iconfont.ttf?t=1652769962228') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fuwushichang:before {
  content: "\e6c0";
}

.icon-next-m:before {
  content: "\e610";
}

.icon-buqianxieyi01:before {
  content: "\e627";
}

.icon-daifukuan:before {
  content: "\e653";
}

.icon-shezhi:before {
  content: "\e601";
}

.icon-hecheng:before {
  content: "\e605";
}

.icon-prev:before {
  content: "\e659";
}

.icon-home2:before {
  content: "\e600";
}

.icon-wode-wode:before {
  content: "\e60d";
}

